h1{
    color: cadetblue;
    font-weight: bold;
    font-size: 30px;
}
.content{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box1{
    width: 100px;
    height: 100px;
    background: green;
}
.box2{
    width: 100px;
    height: 100px;
    background: blue;
}
.box3{
    width: 100px;
    height: 100px;
    background: red;
}